/* --- General --- */

* {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #dfdfdf;
}




/* --- Font --- */

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.right h1, .right h2, .right p{
    padding-left: 20px;
}

.menuRoom .searchHead a,
.menuRoom .searchHead i,
.menuSearch .searchHead a,
.menuSearch .searchHead i,
.menuBuilding .searchHead a,
.menuBuilding .searchHead i {
    color: white;
    text-decoration: none;
    font-size: 15px;
    vertical-align: top;
    top: 4px;
    position: relative;
}

.searchHead img {
    position: relative;
    top: -1px;
    vertical-align: middle;
}


/* --- Material List --- */

.listElement,
.listElementIcon {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-size: 24px;
    vertical-align: middle;
}

.listElement:after,
.listElementIcon:after {
    content: " ";
    display: block;
    height: 1px;
    background-color: #e2e2e2;
    clear: both;
}

.listElementIcon:after {
    margin: 0px 0 0 70px;
}

.listElementIcon:last-child:after {
    content: "";
    height: 0px;
}

.listIcon {
    height: 40px;
    width: 40px;
    float: left;
    margin: 15px;
    color: black;
    text-align: center;
    line-height: 40px;
}

.circular {
    border-radius: 20px;
    overflow: hidden;
}

.circular img {
    height: 40px;
    min-width: 40px;
    width: auto;
}

.listIconImg {
    float: left;
    margin: 25px;
}

.noresults {
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}

.materialList .doubleMain {
    font-size: 15px;
    margin: 15px 0 0 0;
    color: black;
}

.materialList .doubleSub {
    font-size: 13px;
    margin: 3px 0 15px 0;
    color: #BBB;
}

.materialList .singleMain {
    margin: 25px 0 0 15px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.materialList .listElement .singleMain {
    margin: 15px 0 15px 15px;
}


/* --- Building Detail --- */

.buildingDetail {
    height: 175px;
    position: relative;
    background-color: #CCC;
    background-size: cover;
    color: white;
}

.buildingDetail .main {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.buildingDetail .sub {
    font-size: 14px;
    color: #e6e6e6;
    margin: 0;
}

.buildingDetail .stackBottom {
    position: absolute;
    bottom: 0;
    margin: 20px 20px;
}

.buildingDetail .grandient {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
}


/* --- Input --- */

.searchHead input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    background-image: url(../img/magnify.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center right;
    height: 30px;
    border-radius: 0px;
}

.roomSearch .searchHead input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-image: url(../img/magnify-dark.png);
    background-position: center right;
    color: #999;
    padding: 1px 0;
    height: 24px;
}

.searchHead input::-ms-clear {
    display: none;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
}

.roomSearch input::-webkit-input-placeholder {
    color: #aaa;
}

.roomSearch input:-moz-placeholder {
    color: #aaa;
    opacity: 1;
}

.menuRoom input::-moz-placeholder {
    color: #aaa;
    opacity: 1;
}

.roomSearch input:-ms-input-placeholder {
    color: #aaa;
}


/* --- Leaflet Material Style --- */

.leaflet-bar {
    border-radius: 1px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    border: 2px solid #d9d9d9;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid #d9d9d9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    line-height: 30px;
    color: #666;
    cursor: pointer;
}

.leaflet-bar a:last-child:hover {
    border: none;
}

.leaflet-bar a:hover {
    background-color: rgb(245, 245, 245);
    color: #000;
}

.leaflet-bar a.active {
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    color: #000;
}


/*
 *
 * --- PopUp ---
 *
*/

.mobileSettings {
    height: 0;
    width: 0;
    border: 0;
    visibility: hidden;
}

.mobileSettingsBtn {
    float: right;
    margin-top: 12px;
    margin-right: 16px;
}

.mobileSettings:checked ~ #popup {
    display: block;
}

#popup {
    display: none;
}

#popup {
    position: absolute;
    top: 60px;
    left: 30%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.10);
    z-index: 2000;
    padding: 5px 0 5px 0;
    margin-right: 40px;
}

#popup .menuItem {
    display: block;
    padding: 10px 50px 10px 15px;
    vertical-align: bottom;
    color: black;
    font-size: 14px;
}

#popup .menuItem:hover {
    background-color: rgb(240, 240, 240);
}

#popup .close {
    position: absolute;
    right: 3px;
    top: 8px;
    display: block;
    color: #ccc;
    height: 25px;
    width: 25px;
    font-size: 12px;
    text-align: center;
}


/* --- Show/No show --- */

.only-mobile {
    display: none;
}

.desktop-only {
    display: none;
}