<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom no-mobile">
        <div class="searchHead desktop-only">
            <a href="#/"><img src="./img/chev_white_24px.svg" alt="Zurück"> {{'BACK_TO_APP' | translate}}</a>

        </div>

        <div class="materialList card">

            <a class="listElementIcon" target="_blank" href="http://www.uni-muenchen.de/">
                <img class="listIconImg" src="./../img/LMU_Icon.gif" alt="LMU Logo" />
                <p class="singleMain">LMU München</p>
            </a>

            <a class="listElementIcon" target="_blank" href="https://play.google.com/store/apps/details?id=de.lmuroomfinder.release">
                <i class="listIcon fi-social-android"></i>
                <p class="singleMain">App im Google Play Store</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://lmu-navigator.github.io/">
                <i class="listIcon fi-social-github"></i>
                <p class="singleMain">Raumfinder bei GitHub</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://www.maxmediapictures.de/kontakt/index.html">
                <i class="listIcon fi-comment"></i>
                <p class="singleMain">Kontaktformular</p>
            </a>

        </div>
    </div>
</div>

<div class="right card">

    <h1 translate="ERROR_HEADLINE"></h1>
    <p translate="ERROR_MESSAGE"></p>


    <h2 translate="ERROR_NOTE"></h2>
    <p translate="IMPRESSUM_LMU_DISCLAIMER"></p>


    <p>&nbsp;</p>

</div>