<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom no-mobile">
        <div class="searchHead desktop-only">
            <a href="#/">
                <img src="./img/chev_white_24px.svg" alt="Zurück"> {{'BACK_TO_APP' | translate}}
            </a>
        </div>

        <div class="materialList card">

            <a class="listElementIcon" 
               target="_blank" 
               href="http://www.uni-muenchen.de/"
               analytics-on="click" 
               analytics-category="Navigation">
                <img class="listIconImg" src="./img/LMU_Logo.svg" height="20px" width="20px" alt="LMU Logo" />
                <p class="singleMain">LMU München</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="https://play.google.com/store/apps/details?id=de.lmuroomfinder.release"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-social-android"></i>
                <p class="singleMain">App im Google Play Store</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="http://lmu-navigator.github.io/"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-social-github"></i>
                <p class="singleMain">Raumfinder bei GitHub</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="http://www.internetdienste.verwaltung.uni-muenchen.de/funktionen/kontakt-raumfinder/index.html"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-comment"></i>
                <p class="singleMain">Kontaktformular</p>
            </a>

        </div>
    </div>
</div>

<div class="right card">

    <h1>Gebäude oder Raum konnte nicht gefunden werden (Error 404)</h1>

    <p>Leider konnte das gesuchte Gebäude oder der gesuchte Raum nicht gefunden werden.
        <br>&nbsp;
        <br>Bitte nutzen Sie das 
        <a href="http://www.internetdienste.verwaltung.uni-muenchen.de/funktionen/kontakt-raumfinder/index.html"
           analytics-on="click" 
           analytics-category="Navigation">Kontaktformular</a> 
        um diesen Fehler zu melden. Vielen Dank für Ihr Feedback!
        <br>&nbsp;
        <br><a href="#/">Nach Gebäude suchen</a>
        <br>&nbsp;
        <br>
    </p>


    <h2>Hinweis</h2>
    <p>LMU-Raumfinder wurde von Studenten der LMU erstellt und ist kein offizielles Produkt der Ludwig-Maximilians-Universität München. Die LMU unterstützt die Website bzw. App im Rahmen einer Kooperation, übernimmt jedoch keine Haftung und ist nicht für deren Inhalte verantwortlich.</p>


    <p>&nbsp;</p>

</div>