<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom">
        <div class="searchHead desktop-only">
            <a href="#/">
                <img src="./img/chev_white_24px.svg" alt="Zurück"> {{'BACK_TO_BUILDINGSEARCH' | translate}}
            </a>
        </div>

        <div class="materialList card no-mobile">
            <div class="buildingDetail" 
                 style="background-image:url({{ctrl.building.getImageUrl(400)}})">
                <div class="grandient"> &nbsp;</div>
                <div class="stackBottom">
                    <p class="main">{{ctrl.building.displayName}}</p>
                    <p class="sub">{{ctrl.building.city}}</p>
                </div>
            </div>
            <a class="listElementIcon" href="#/building/{{ctrl.buildingCode}}">
                <i class="listIcon fi-marker"></i>
                <p class="singleMain" translate="MENU_SHOW_ON_MAP"></p>
            </a>
        </div>


        <div class="roomSearch materialList card no-mobile" id="roomSearch">
            <div class="searchHead">
                <input type="text" placeholder="{{'MENU_SEARCH_ROOM'|translate}}" ng-model="searchRoom" ng-init=" ">
            </div>
            <div class="searchBody" id="roomSearchBody">
                <a class="listElement" ng-repeat="room in ctrl.filteredRooms"
                   href="#/building/{{ctrl.buildingCode}}/map?room={{room.rCode}}" 
                   ng-click="mapViaRoom(room.rCode)">
                    <p class="singleMain">{{room.rName}}</p>
                </a>

                <a class="listElement"  
                   ng-hide = "ctrl.filteredRooms.length < roomLimit"
                   ng-click="showMoreRooms()">
                    <p class="singleMain"><i>Weitere Räume laden...</i></p>
                </a>
            </div>
        </div>

        <div class="roomSearch materialList card only-mobile">
            <a class="fakeSearch" href="#/building/{{ctrl.buildingCode}}/map/search">Raum suchen</a>
        </div>

    </div>
</div>
<div class="right card">
    <leaflet class="map" 
             defaults="defaults" 
             marker="marker" 
             layers="layers" 
             lf-center="center" 
             event-broadcast="events"></leaflet>
</div>