<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuBuilding">
        <div class="searchHead desktop-only">
            <a href="#/">
                <img src="./img/chev_white_24px.svg" alt="Zurück"> 
                Nach Gebäude suchen
            </a>
        </div>

        <div class="materialList card">
            <div class="buildingDetail" 
                 ng-style="{'background-image':'url('+ctrl.building.getImageUrl(400)+')'}">
                <div class="grandient"> &nbsp;</div>
                <div class="stackBottom">
                    <p class="main">{{ctrl.building.displayName}}</p>
                    <p class="sub">{{ctrl.building.city}}</p>
                </div>
            </div>

            <a class="listElementIcon" href="#/building/{{ctrl.building.code}}/map">
                <i class="listIcon fi-map"></i>
                <p class="singleMain">Gebäudeplan anzeigen</p>
            </a>

            <a class="listElementIcon only-mobile" 
               href="#/building/{{ctrl.building.code}}/map/search">
                <i class="listIcon fi-magnifying-glass"></i>
                <p class="singleMain">Raum suchen</p>
            </a> 
            
            <a class="listElementIcon no-mobile" 
               href="#/building/{{ctrl.building.code}}/map">
                <i class="listIcon fi-magnifying-glass"></i>
                <p class="singleMain">Raum suchen</p>
            </a>

            <a class="listElementIcon" target="_blank" href="https://www.google.com/maps/place/{{ctrl.building.displayName}}/@{{ctrl.building.lat}},{{ctrl.building.lng}}">
                <i class="listIcon fi-marker"></i>
                <p class="singleMain">Auf Google Maps zeigen</p>
            </a>

        </div>

    </div>
</div>

<div class="right card">
    <a href="#/building/{{ctrl.building.code}}/map" class="mobile-only">
        <div class="noTouch mobile-only"></div>
    </a>
    <leaflet class="map" lf-center="center" tiles="tiles" markers="marker" ></leaflet>
</div>