<div class="left ">
    
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="searchHead">
        <input type="text" 
               id="searchHeadInput" 
               placeholder="Gebäude suchen" 
               ng-model="searchText" 
               ng-change="changeSearchInput()">
    </div>

    <div class="searchBody materialList webkitScrollbar card">
        
        <a class="listElementIcon" 
           href="#building/{{building.code}}" 
           ng-repeat="building in buildings | filter: searchText">
            
            <div class="listIcon circular">
              <img id="buildingSearch" 
                   ng-src="{{building.getImageUrl(40)}}"/> 
            </div>
            <p class="doubleMain">{{building.displayName}}</p>
            <p class="doubleSub">{{building.city}}</p>
        </a>
        
        <p class="noresults" 
           ng-show="builingsCount == 0">   
            Keine Ergebnisse gefunden.
        </p>

    </div>

    
</div>


<div class="right card no-mobile">

    <leaflet 
             class="map" 
             lf-center="cityCenter" 
             tiles="cityLayers" 
             markers="cityMarkers" 
             bounds="cityBounds" 
             maxbounds="cityMaxBounds" 
             event-broadcast="events">
    </leaflet>

</div>