<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom">
        <div class="searchHead desktop-only">
            <a href="#/"><img src="../img/chev_white_24px.svg" alt="Zurück"> {{'BACK_TO_APP' | translate}}</a>

        </div>

        <div class="materialList card">

            <a class="listElementIcon" target="_blank" href="http://www.uni-muenchen.de/">
                <img class="listIconImg" src="../img/LMU_Icon.gif" alt="LMU Logo"/>
                <p class="singleMain">LMU München</p>
            </a>

            <a class="listElementIcon" target="_blank" href="https://play.google.com/store/apps/details?id=de.lmuroomfinder.release">
                <i class="listIcon fi-social-android"></i>
                <p class="singleMain">App im Google Play Store</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://lmu-navigator.github.io/">
                <i class="listIcon fi-social-github"></i>
                <p class="singleMain">Raumfinder bei GitHub</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://www.maxmediapictures.de/kontakt/index.html">
                <i class="listIcon fi-comment"></i>
                <p class="singleMain">Kontaktformular</p>
            </a>

        </div>
    </div>
</div>
<div class="right card">

    <h1 translate="IMPRESSUM"></h1>

    <h2 translate="IMPRESSUM_ADDRESS_HEADLINE">Anschrift</h2>
    <p translate="IMPRESSUM_ADDRESS"></p>

    <h2 translate="IMPRESSUM_CONTACT_HEADLINE">Kontakt </h2>
    <p translate="IMPRESSUM_CONTACT"></p>
    
    <h2 translate="IMPRESSUM_HELP_HEADLINE"></h2>
    <p translate="IMPRESSUM_HELP"></p>

    <h2 translate="ERROR_NOTE"></h2>
    <p translate="IMPRESSUM_LMU_DISCLAIMER"></p>

    <p>&nbsp;</p>

</div>