<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom">
        <div class="searchHead desktop-only">
            <a href="#/">
                <img src="./img/chev_white_24px.svg" alt="Zurück"> {{'BACK_TO_APP' | translate}}
            </a>
        </div>

        <div class="materialList card">

            <a class="listElementIcon" target="_blank" href="http://www.uni-muenchen.de/">
                <img class="listIconImg" src="./img/LMU_Icon.gif" alt="LMU Logo"/>
                <p class="singleMain">LMU München</p>
            </a>

            <a class="listElementIcon" target="_blank" href="https://play.google.com/store/apps/details?id=de.lmuroomfinder.release">
                <i class="listIcon fi-social-android"></i>
                <p class="singleMain">App im Google Play Store</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://lmu-navigator.github.io/">
                <i class="listIcon fi-social-github"></i>
                <p class="singleMain">Raumfinder bei GitHub</p>
            </a>

            <a class="listElementIcon" target="_blank" href="http://www.maxmediapictures.de/kontakt/index.html">
                <i class="listIcon fi-comment"></i>
                <p class="singleMain">Kontaktformular</p>
            </a>

        </div>
    </div>
</div>
<div class="right card">

   <h1>Kontakt</h1>
    
   <h2>Anschrift</h2>


    <p>Ludwig-Maximilians-Universität München</p>

    <p>Geschwister-Scholl-Platz 1 <br/>
       80539 München</p>


    <h2>Telefon / Fax</h2>

    <p>Telefonvermittlung: +49 (0) 89 / 2180 - 0 <br/>
        Zentrales Telefax: +49 (0) 89 / 2180 - 2322</p>

    <h2>Anfahrt</h2>

    <p>U-Bahn: Linie U3 oder U6, Haltestelle Universität<br/>
        Bus: Linie 154, Haltestelle Universität<br/>
        Die Anfahrt mit dem Auto wird nicht empfohlen, da keine Parkplätze zur Verfügung stehen</p>

    <h2>Umsetzung des Raumfinders</h2> 
    
    <p>Der Raumfinder wurde entwickelt von: 
    <a href="http://www.maxmediapictures.de">Max von Bülow</a></p>
    
    <h2>Umsetzung des Webauftritts</h2>


    <p>Bei der Umsetzung des Webauftritts der Ludwig-Maximilians-Universität München (LMU) haben folgende Firmen unterstützend mitgewirkt:</p>
    
    <ul>
        <li>Content Management System (CMS):<br/>   Infopark AG Logo Infopark</li>
        <li>Urheber Corporate Design (ohne Kürzel LMU)<br/>  Haak & Nakat GmbH (www.haak-nakat.de)</li>
    </ul>


    <p>&nbsp;</p>

</div>