<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>

    <div class="menuRoom">
        <div class="searchHead desktop-only">
            <a href="#/">
                <img src="./img/chev_white_24px.svg" alt="Zurück"> Zurück zum Raumfinder
            </a>
        </div>

        <div class="materialList card">

            <a class="listElementIcon" 
               target="_blank" 
               href="http://www.uni-muenchen.de/"
               analytics-on="click" 
               analytics-category="Navigation">
                <img class="listIconImg" src="./img/LMU_Logo.svg" height="20px" width="20px" alt="LMU Logo"/>
                <p class="singleMain">LMU München</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="https://play.google.com/store/apps/details?id=de.lmuroomfinder.release"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-social-android"></i>
                <p class="singleMain">App im Google Play Store</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="http://lmu-navigator.github.io/"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-social-github"></i>
                <p class="singleMain">Raumfinder bei GitHub</p>
            </a>

            <a class="listElementIcon" 
               target="_blank" 
               href="http://www.internetdienste.verwaltung.uni-muenchen.de/funktionen/kontakt-raumfinder/index.html"
               analytics-on="click" 
               analytics-category="Navigation">
                <i class="listIcon fi-comment"></i>
                <p class="singleMain">Kontaktformular</p>
            </a>

        </div>
    </div>
</div>
<div class="right card">

   <h1>Kontakt</h1>
    
   <h2>Anschrift</h2>

    <p>Ludwig-Maximilians-Universität München</p>

    <p>Geschwister-Scholl-Platz 1 <br/>
       80539 München</p>

    <h2>Telefon / Fax</h2>

    <p>Telefonvermittlung: +49 (0) 89 / 2180 - 0 <br/>
        Zentrales Telefax: +49 (0) 89 / 2180 - 2322</p>
    
    <h2>Support</h2>
    
    <p>Ref. VI.5 - Internetdienste<br/>
        Martiusstr. 4, 4.Stock<br/>
        80802 München</p>
    
    <p><b>Hotline</b><br />
    Wenn Sie Fragen haben, erreichen Sie uns unter unserer Hotline-Nummer 089/2180-9898 zu folgenden Zeiten: Mo - Fr (außer Mi) 10-12 Uhr und Mo-Do 14-16 Uhr.<br/>Oder schicken Sie uns ein Nachricht über unser <a target="_blank" href="http://www.internetdienste.verwaltung.uni-muenchen.de/funktionen/kontakt-raumfinder/index.html">Kontaktformular</a></p>
    
    <h2>Anfahrt</h2>

    <p>U-Bahn: Linie U3 oder U6, Haltestelle Universität<br/>
        Bus: Linie 154, Haltestelle Universität<br/>
        Die Anfahrt mit dem Auto wird nicht empfohlen, da keine Parkplätze zur Verfügung stehen</p>

    <h2>Umsetzung des Raumfinders</h2> 
    
    <p>Der Raumfinder wurde entwickelt von: 
    <a href="http://www.maxmediapictures.de" 
       target="_blank" 
       analytics-on="click" 
       analytics-event="Developer Link"
       analytics-category="Navigation">Max von Bülow</a></p>
    
    <h2>Umsetzung des Webauftritts</h2>


    <p>Bei der Umsetzung des Webauftritts der Ludwig-Maximilians-Universität München (LMU) haben folgende Firmen unterstützend mitgewirkt:</p>
    
    <ul>
        <li>Content Management System (CMS):<br/>   Infopark AG Logo Infopark</li>
        <li>Urheber Corporate Design (ohne Kürzel LMU)<br/>  Haak & Nakat GmbH (www.haak-nakat.de)</li>
    </ul>


    <p>&nbsp;</p>

</div>
