<div class="no-desktop">
    <a class="logo" href="#/">
        <img src="img/logo-smartphone2x.png" width="208px" height="30px" alt="LMU Logo" />
    </a>
    <a href="#/{{naviLink}}" class="headline">
        <h2><img src="./img/chev_white_24px.svg" ng-show="naviLink" alt="Zurück"/>{{naviText}}</h2>
    </a>

    <input id="radio1" name="radio" type="checkbox" class="mobileSettings no-desktop">
    
    
    <div id="popup">  
        <label class="menuItem" for="radio1" href="" ng-click="changeLang()" translate="TRANSLATE"></label>
        <a for="radio1" class="menuItem" href="#/impressum" translate="IMPRESSUM"></a>
        <label class="close" for="radio1" ontouchstart="">✖</labels>
    </div>
   

</div>