<div class="left ">
    <div x-top-navi class="no-desktop mobileNavi"></div>
    
    <div class="menuSearch">
        <div class="searchHead">
            <input type="text" id="searchHeadInput" placeholder="{{'MENU_SEARCH_ROOM' | translate}}" ng-model="searchRoom">
        </div>

        <div class="searchBody materialList" id="roomSearchBody">
    
            <a class="listElement" ng-repeat="room in ctrl.filteredRooms"
                   href="#/building/{{ctrl.buildingCode}}/map?room={{room.rCode}}" 
                   ng-click="mapViaRoom(room.rCode)">
                <p class="singleMain">{{room.rName}}</p>
            </a>

            <a class="listElement"  
                   ng-hide = "ctrl.filteredRooms.length < roomLimit"
                   ng-click="showMoreRooms()">
                <p class="singleMain"><i>Weitere Räume laden...</i></p>
            </a>

        </div>
    </div>

</div>