body {
    background-color: #ccc;
}

/* --- Mobile Navi --- */
.mobileNavi {
    background-color: #009440;
    overflow: auto;
    height: 100px   
}

.mobileNavi h2 {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0px 15px;
    line-height: 50px;
}
.mobileNavi a{
    text-decoration: none;
}

.mobileNavi .settings img {
    position: relative;
    top: 13px;
    right: 10px;
}

.mobileNavi .headline {
    float: left;
}

.mobileNavi .headline img {
    left: -7px;
    top: 6px;
    position: relative;
}

.mobileNavi .settings {
    float: right;
}

.mobileNavi .logo {
    height: 50px;
    display: block;
    background-color: #007633;
}

.mobileNavi .logo img {
    padding: 10px 15px;
}


/* --- Structure --- */

.card {
    background-color: #fafafa;
    position: relative;
}
.left {
    width: 35%;
    float: left;
    height: calc(100vh - 60px);
}
.right {
    width: 65%;
    height: calc(100vh);
    float: right;
}
.map {
    height: 100%;
    width: 100%;
    background-color: white;
}
.searchBody {
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.searchHead {
    height: 40px;
    background-color: #009440;
    padding: 0px 15px 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

.roomSearch .searchHead {
    background-color: rgb(240,240,240);
    position: relative;
    padding: 15px;
    height: 55px;
    margin-top: 15px;
}

.roomSearch .searchBody {
    height: calc(100vh - 100px - 175px - 70px - 70px);
    background-color: rgb(248, 248,248);
} 

/* --- Scroll Bars --- */

.searchBody::-webkit-scrollbar-track {} .searchBody::-webkit-scrollbar {
    width: 6px;
}
.searchBody::-webkit-scrollbar-thumb {
    background-color: #ccc;
}